.card {
    display: flex;
    height: 12rem;
 /* Adjust the maximum width as needed */
  }
  
  .imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 100%;
    background-color: white;
       }
  
  .cardImage {
    width: 100%;
    height: 100%;
    object-fit: contain; /* Use 'cover' to fill the container without distortion */
  }
  
  .cardContent {
       display: flex;
    flex-direction: column;
    min-width: 5rem;
    justify-content: center;
    align-items: center;
    /* font-size: 2rem;
    font-weight: 600; */
  }
  .cardButton {
    width: 100%;
    color:black;
    background-color: white !important;
    margin-top: -0.6rem !important;
    margin-bottom: 0;
    }
    .cardButton:hover{
        color:white;
    background-color: black !important;
    }
    .buttonPanel{
      display: flex;
      height: 2rem;
      flex-wrap: nowrap;
      justify-content: space-evenly;
      margin-top: -0.6rem !important;
      margin-bottom: 0;
    }
    .panelButton{
      width:2rem;
      
      color:black;
      background-color: white !important;
    }
    .panelButton:hover{
      color:white;
  background-color: black !important;
  }
  .quantity {
display: flex;
margin:0 0.8rem;
justify-content: center;
align-items: center;
background-color: white;
color: black;
width: 2rem;
height: 2rem;
}
  
  .quantity:hover {
    color: white;
    background-color: black !important;
  }
  .delete{
margin-left: 2rem;
margin-bottom: 0.6rem;
;
  }
  .delete:hover{
    background-color: black;
    color: red;
  }
  @media screen and (width< 1333px) {
    .card {
      display: flex;
      flex-direction: column;
      max-width: 13rem;
      height: 28rem; /* Adjust the maximum width as needed */
    }
    
    .imageContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      min-height: 60%;
      background-color: white;
         }
    
    .cardImage {
      width: 100%;
      height: 100%;
      object-fit: contain; /* Use 'cover' to fill the container without distortion */
    }
    
    .cardContent {
         display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* font-size: 2rem;
      font-weight: 600; */
    }
    .cardActions{
      display: flex;
      flex-direction: column;
    }
    .delete{
      margin: 0rem;
    position: relative;
    top:3rem;
    right:7rem;
     }

   
}
